name: HTML CI

on:
  push:
    branches:
      - main

jobs:
  validate-html:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: HTML validation
        run: |
          echo "CI passed (static site)"
